.body{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.app {
  background-color: rgb(50, 50, 50);
  height: 200vmax;
  margin: -8px -8px -8px;
}
.navbar {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgb(50, 50, 50);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 20px;
}

.logo img {
  display: block;
  padding-right: 20px;
}

.links {
  display: flex;
  gap: 20px;
}

.links a {
  text-decoration: none;
  color: white;
  font-weight: 500;
}

.dropdown {
  position: relative;
}

.dropdown div {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #f1f1f1;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  z-index: 10;
}

.dropdown div a {
  display: block;
  padding: 5px 15px;
  color: #555;
  border-radius: 40%;
  text-decoration: none;
  white-space: nowrap;
}

.dropdown div a:hover {
  background-color: #d2d2d2;
  border-radius: 3px;
}
.dropdown:hover div {
  display: block;
}

.dropdown-link {
  background-color: #f1f1f1;
  border-radius: 40%;
  display: block;
  text-decoration: none;
  color: white;
  transition: background-color 0.5s ease-in-out;
}

.dropdown-link:hover {
  background-color: rgb(30, 30, 30);
}
