.app {
  background-color: rgb(50, 50, 50);
  height: 194vmax;
}
.navbar {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgb(50, 50, 50);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 20px;
}

.logo img {
  display: block;
  padding-right: 20px;
}

.links {
  display: flex;
  gap: 20px;
}

.links a {
  text-decoration: none;
  color: white;
  font-weight: 500;
}

.dropdown {
  position: relative;
}

.dropdown div {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #f1f1f1;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  z-index: 10;
}

.dropdown div a {
  display: block;
  padding: 5px 15px;
  color: #555;
  border-radius: 40%;
  text-decoration: none;
  white-space: nowrap;
}

.dropdown div a:hover {
  background-color: #d2d2d2;
  border-radius: 3px;
}
.dropdown:hover div {
  display: block;
}

.dropdown-link {
  background-color: #f1f1f1;
  border-radius: 40%;
  display: block;
  text-decoration: none;
  color: white;
  transition: background-color 0.5s ease-in-out;
}

.dropdown-link:hover {
  background-color: rgb(30, 30, 30);
}

/* App.css */
.loading .app {
  opacity: 0;
  animation: reveal 2s forwards;
}

.loading .navbar {
  opacity: 0;
  animation: reveal 0.5s forwards;
  animation-delay: 0.5s;
}

.loading .games {
  opacity: 0;
  animation: reveal 0.5s forwards;
  animation-delay: 1s;
}

.loading .footer {
  opacity: 0;
  animation: reveal 0.5s forwards;
  animation-delay: 1.5s;
}

/* Details.css */
.loading .details {
  opacity: 0;
  animation: reveal 1s forwards;
}

.loading .details{
  opacity: 0;
  animation: reveal 0.5s forwards;
  animation-delay: 0.5s;
}

.loading .game-info {
  opacity: 0;
  animation: reveal 0.5s forwards;
  animation-delay: 1s;
}

.loading .trailer {
  opacity: 0;
  animation: reveal 0.5s forwards;
  animation-delay: 1.5s;
}

@keyframes reveal {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.details, .details .navbar, .details .game-info, .details .trailer, .details .footer {
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

@keyframes reveal {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
